/* ======================================
  Login & Registration Page
========================================= */
.login-form-heading {
  text-align: center;
  font-size: 2em;
  padding-bottom: 15px;
}

.login-bg-image {
  background-image: url('/assets/img/Sports.png');
}

.loginCookies {
  color: #FFA500;
}
